@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply bg-blue-900 w-40 text-white rounded-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 active:bg-red-600 focus:bg-purple-500;
}